body{
    font-family: Arial, sans-serif;
}

/*NAVIGATION MENU*/
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.logo{
    line-height: 60px;
    font-size: 20px;
    padding-left: 280px;
    float: left;
    color: #fff;
    -webkit-animation: come 2s;
    -o-animation: come 2s ;
    animation: come 2s ;
}

@keyframes come{
    from{
        opacity: 0%;
    }
    
    to{
        opacity: 100%;
    }
}

.menu ul{
    margin-right: 50px;
}

.menu ul li{
    float: left;
    line-height: 60px;
    display: inline-block;
    position: relative;
    padding-right:30px;
    -webkit-animation: drop 1s forwards;
    -o-animation: drop 1s forwards;
    animation: drop 1s forwards;
    opacity: 0;
}

.menu ul li a{
    font-size: 13px;
    color: #fff;
}

.menu ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #fff;
	display: block;
	margin: -10px 0 0 0;
    border-radius: 5px;
	transition: 0.5s;
}
.menu ul li:hover::after{
	width: 100%;
}

@keyframes drop{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu ul li:nth-child(2){
    animation-delay: 0.4s;
}
.menu ul li:nth-child(3){
    animation-delay: 0.8s;
}
.menu ul li:nth-child(4){
    animation-delay: 1.2s;
}
.menu ul li:nth-child(5){
    animation-delay: 1.6s;
}
.menu ul li:nth-child(6){
    animation-delay: 2.0s;
}

/*MAIN PAGE*/
.main{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(245, 245, 220, 0.2), rgba(245, 245, 220, 1));

}

.title-container{
    float: left;
    text-align: center;
    margin-top: 300px;
    margin-left: 280px;
    display: block;
}

.title-container h1{
    font-size: 60px;
    font-weight: bold;
    color: #2c384a;
    word-spacing: -5px;
    letter-spacing: -1px;
    opacity: 0;
    animation: appearTitle 0.7s ease forwards;
    animation-delay: 1.6s;
}

.title-container h4{
    font-size: 25px;
    color: #888f9a;
    margin-top: 35px;
    display: block;
    opacity: 0;
    animation: appearTitle 0.7s ease forwards;
    animation-delay: 2.0s;
}

.title-container .mainBtns input{
    background: none;
    border: 1px solid #6d7682;
    margin: 20px ;
    display: inline-block;
    height: 40px;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 13px;
    transition: 0.3s;
}

.mainBtns{
    opacity: 0;
    animation: appearTitle 0.7s ease forwards;
    animation-delay: 2.4s;
}

/*#firstBtn{
    opacity: 0;
    animation: appearMain 0.7s  forwards;
    animation-delay: 3.2s;
}

#secondBtn{
    opacity: 0;
    animation: appearMain 0.7s  forwards;
    animation-delay: 2.8s;
}*/

.title-container .mainBtns input:hover{
    background: #6d7682; 
    color:beige;
    transition: 0.3s;
}

.title-container .mainBtns input:active{
    transform: scale(0.9);
    transition: 0.2s;
}

@keyframes appearTitle{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 0;
    }
}

.title-portrait img{
    float: left;
    position: relative;
    margin:-399px 0 0 860px;
    display: block;
    opacity: 0;
    animation: imgAppear 1s forwards;
}

@keyframes imgAppear{
    from{
        opacity: 0;
        margin-left: 1300px; 
    }
    
    to{
        opacity: 1;
        margin-right: 0;
    }
}


/*ABOUT ME PAGE*/

.about-me{
    background: #fff;
    height: 50vh;
    box-shadow: 0 -2px 90px #7e8185;
}

.about-me-title{
    float: left;
    text-align: center;
    display: block;
    margin:30px 0 0 650px;
}

.about-text-line{
    float: left;
    content: '';
    height: 2px;
    background: #f44336;
    width: 70px;
    margin: 70px 100px 0 -100px;
    display: block;
}

.about-me-title h2{
    color: #2c384a;
    font-size: 25px;
    text-transform: uppercase;
}

.portrait img{
    float: left;
    display: flex;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 90px 0 0 -215px;
    
}

.about-me-desc{
    float: left;
    text-align: center;
    margin:195px 0 0 200px;
}

.about-me-desc p {
    padding-bottom: 30px;
    color: #2c384a;
    line-height: 8px;
}

.about-me input{
    float: left;
    margin: 275px 0 0 -575px;
    background: none;
    border: 1px solid #6d7682;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    transition: 0.5s;
}

.about-me input:hover{
    background: #6d7682; 
    color:white;
    transition: 0.5s;
}

.about-me input:active{
    transform: scale(0.9);
    transition: 0.2s;
}

/*SKILLS*/

.skills{
    background: url(../img/bg.jpg);
    height: 50vh;
    width: 100%;
}

.what{
    float: left;
    text-align: center;
    margin:70px 0 0 630px;
}

.what h2{
    color: #2c384a;
    font-size: 23px;
    text-transform: uppercase;
    word-spacing: -1px;
}

.what-line{
    float: left;
    content: '';
    height: 2px;
    background: #f44336;
    width: 85px;
    margin: 110px 100px 0px -145px;
}

.skills ul{
    float: left;
    margin: 100px 0 0 315px;
}

.skills li{
    float: left;
    margin-right: 200px;
    transition: 0.5s;
}

.skills li:hover{
   transform: scale(1.25);
   transition: 0.5s; 
}

.webDesign{
    float: left;
    text-align: center;
    width: 200px;
    margin: 15px 0 0 245px ;
    transition: 0.5s;
}

.webDesign:hover{
   transform: scale(1.25);
   transition: 0.5s; 
}

.webDesign h3{
    color: #f44336;
    margin-bottom: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.develop{
    float: left;
    text-align: center;
    width: 200px;
    margin: 15px 0 0 50px;
    transition: 0.5s;
}

.develop:hover{
   transform: scale(1.25);
   transition: 0.5s; 
}

.develop h3{
    color: #f44336;
    margin-bottom: 10px;
    font-weight: bold;
}

.optimisation{
    float: left;
    text-align: center;
    width: 200px;
    margin: 15px 0 0 50px;
    transition: 0.5s;
}

.optimisation:hover{
   transform: scale(1.25);
   transition: 0.5s; 
}

.optimisation h3{
    color: #f44336;
    margin-bottom: 10px;
    font-weight: bold;
}

.marketing{
    float: left;
    text-align: center;
    width: 200px;
    margin: 15px 0 0 50px;
    transition: 0.5s;
}

.marketing:hover{
   transform: scale(1.25);
   transition: 0.5s; 
}

.marketing h3{
    color: #f44336;
    margin-bottom: 10px;
    font-weight: bold;
}

/*KEYSES*/

.keysPresent{
    background: #fff;
    height: 100vh;
}

.keys{
    float: left;
    text-align: center;
    margin: 30px 0 0 430px;
    display: block;
}

.keys h2{
    font-size: 30px;
    color: #384354;
    margin-bottom: 10px;
}

.keysLine{
    float: left;
    content: '';
    height: 2px;
    background: #f44336;
    width: 85px;
    margin: 10px 100px 0px 263px;
}

.keys p{
    margin-top: 50px;
}

.scroll img{
    width: 50%;
    height: 400px;
    float: left;
    margin: 40px 0 0 365px;
}

.client{
    float: left;
    text-align: left;
    margin: 460px 0 0 -720px; 
}

.client h4{
    font-size: 20px;
    color: #384354;
    margin-bottom: 7px;
}

.client p{
    color: #384354;
}

.website{
    float: left;
    text-align: left;
    margin: 520px 0 0 -720px; 
}

.website h4{
    font-size: 20px;
    color: #384354;
    margin-bottom: 7px;
}

.website p{
    color: #384354;
}

.btn input{
    float: left;
    text-align: center;
    margin: 580px 0 0 -720px;
    height: 40px;
    width: 150px;
    border: solid 2px #63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    transition: 0.5s;
}

.btn input:hover{
    transform: scale(1.07);
    transition: 0.5s;
}

.btn input:active{
    transform: scale(0.9);
    transition: 0.2s;
}

.projectName{
    float: left;
    text-align: left;
    width: 520px;
    margin: 15px 0 0 620px;
}

.projectName h4{
    font-size: 20px;
    color: #384354;
    margin-bottom: 7px;
}

.projectName p{
     color: #384354;
}

/*PRICE COUNTER*/

.calculate{
    height: 100vh;
    background: linear-gradient(rgba(245, 245, 220, 0.2), rgba(253, 238, 225, 0.8));
}

.priceCount{
    float: left;
    margin-top: 80px;
}

.priceCount h2{
    font-weight: bold;
    font-size: 40px;
    margin: 10px 0 0 600px;
    color: #384354;
    letter-spacing: 2px;
}

.siteType{
    float: left;
    margin: 40px 0 0 380px;
}

.siteType h4{
    font-weight: bold;
    font-size: 20px;
    color: #384354;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.siteType input{
    background: #eee;
    line-height: 40px;
    width: 750px;
}

.design{
    float: left;
    margin: 40px 0 0 380px;
}

.design h4{
    font-weight: bold;
    font-size: 20px;
    color: #384354;
    letter-spacing: 1px;
    margin-bottom: 10px; 
}

.design input{
    background: #eee;
    line-height: 40px;
    width: 750px;
}

.adaptivity{
    float: left;
    margin: 40px 0 0 380px;
}

.adaptivity h4{
    font-weight: bold;
    font-size: 20px;
    color: #384354;
    letter-spacing: 1px;
    margin-bottom: 10px; 
}

.adaptivity input{
    background: #eee;
    line-height: 40px;
    width: 750px;
}

.counterLine{
    float: left;
    content: '';
    height: 2px;
    background: #e0dede;
    width: 750px;
    margin: 40px 0 0 380px;
}

.deadline{
    float: left;
    line-height: 20px;
    width: 750px;
    margin: 40px 0 0 380px;
}

.deadline h6{
    font-size: 20px;
    color: #384354;
}

.deadline p{
    float: left;
    font-size: 20px;
    color: #384354;
    margin: -12px 0 0 740px;
    /* не знаю как контролировать число, чтобы не выходило за границу*/
}

.cost{
    float: left;
    line-height: 20px;
    width: 750px;
    margin: 100px 0 0 -750px;
}

.cost h6{
    font-size: 20px;
    color: #384354;
}

.cost p{
    float: left;
    font-size: 20px;
    margin: -15px 0 0 740px;
    color: #384354;
}

/*statistics*/

.statPresent{
    background: url(../img/bgStat.png);
    height: 50vh;
    width: 100%;
}

.statistics{
    float:left; 
    margin: 50px 0 50px 650px;
}

.statistics h2{
    font-size: 30px;
    color: #384354;
}

.statLine{
    float: left;
    content: '';
    height: 4px;
    background: #f44336;
    width: 85px;
    margin: 100px 0 0 -98px;
}

.happy{
    float: left;
    text-align: center;
    margin: 200px 0 0 -420px;
    transition: 0.5s;
}

.happy:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.happy h2{
    color: #2c384a;
    font-size: 23px;
    text-transform: uppercase;
    word-spacing: -1px;
    margin: 15px 0 10px 0;
}

.happy p{
    color: #2c384a;
}

.hours{
    float: left;
    text-align: center;
    margin: 200px 0 0 -190px;
    transition: 0.5s;
}

.hours:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.hours h2{
    color: #2c384a;
    font-size: 23px;
    text-transform: uppercase;
    word-spacing: -1px;
    margin: 20px 0 10px 0;
}

.hours p{
    color: #2c384a;
}

.doneProjects{
    float: left;
    text-align: center;
    margin: 200px 0 0 0px;
    transition: 0.5s;
}

.doneProjects:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.doneProjects h2{
    color: #2c384a;
    font-size: 23px;
    text-transform: uppercase;
    word-spacing: -1px;
    margin: 20px 0 10px 0;
}

.doneProjects p{
    color: #2c384a;
}

.achiv{
    float: left;
    text-align: center;
    margin: 200px 0 0 100px;
    transition: 0.5s;
}

.achiv:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.achiv h2{
    color: #2c384a;
    font-size: 23px;
    text-transform: uppercase;
    word-spacing: -1px;
    margin: 15px 0 10px 0;
}

/*TESTIMONIALS*/

.testimonialPresent{
    height: 50vh;
}

.testimonials{
    float: left;
    text-align: center;
    margin: 50px 0 0 360px;
}

.testimonials h2{
    color: #2c384a;
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: -1px;
    margin-bottom: 20px;
}

.testLine{
    float: left;
    content: '';
    height: 4px;
    background: #f44336;
    width: 85px;
    margin: 0px 0 0 305px;
}

.testimonials img{
    margin: 30px 0 20px -400px;
}

.testimonials p{
    margin-bottom: 10px;
    width: 700px;
    color: #2c384a;
    font-size: 17px;
}

#name{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

/*FOOTER*/

footer{
    height: 100vh;
    background: #434e5f;
}

.contacs{
    float: left;
    margin: 40px 0 0 630px;
}

.contacs h2{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: -1px;
    margin-bottom: 20px;
}

.contactsLine{
    float: left;
    content: '';
    height: 4px;
    background: #f44336;
    width: 85px;
    margin: 90px 0 0 -120px;
}

.contactsDesc p{
    float: left;
    text-align: center;
    margin: 120px 0 0 -450px;
    color: #fff;
    font-size: 15px;
}

.location{
    float: left;
    margin: 180px 0 0 -730px;
    text-align: center;
}

.mail{
    float: left;
    margin: 180px 0 0 -420px;
    text-align: center;
}

.numberImg{
    float: left;
    margin: 180px 0 0 -110px;
    text-align: center;
}

.number{
    float: left;
    margin: 215px 0 0 -190px;
}

.location p{
    margin: 10px 0 0 0;
    color: #fff;
}

.mail p{
    margin: 10px 0 0 0;
    color: #fff;
}

.number a{
    text-align: center;
    padding: 40px;
    color: #fff;
}

.leaveMsg{
    float: left;
    margin: 40px 0 0 500px;
}

.msgTitle h2{
    margin: 10px 0 20px 140px; 
    font-size: 20px;
    color: #fff;
}

.msgForm{
    margin-left: -150px;
}

.msgForm input{
    float: left;
    text-align: center;
    width: 350px;
    height: 35px;
    margin: 0 20px 0 0; 
}

.msgForm textarea{
    margin: 30px 0 0 0px;
    height: 70px;
    width: 720px;
}

.copyright{
    float: left;
    line-height: 60px;
    margin-top: -2px;
    background: #354051;
    width: 100%;
    text-align: center;
    color: #fff;
    
}

.map iframe{
    margin-top: 35px; 
    height: 300px;
    width: 100%;
}

.sendBtn{
    float: left;
    margin: 20px 0 0 210px;
}

.sendBtn input{
    background: none;
    border: solid 2px #fff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100px;
    font-size: 15px;
    margin-left: -45px;
    transition: 0.3s;
}

.sendBtn input:hover{
    background: #fff;
    color: #354051;
    transition: 0.3s;
}

.sendBtn input:active{
    transform: scale(0.9);
    transform: 0.2s;
}

.icons{
    float: left;
    margin: 90px 0 0 -110px;
}

.icons i{
    padding-right: 40px;
    color: #fff;
}